@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

@layer base {
  :root {
    --lime: #A4FFA2;
    --magenta:#F47DDA;
    --magenta50:#F47DDA80;
    --white:#FFFFFF;
    --tan:#CEC5B4;
    --teal:#2E6D81;
    --cyan:#7DE6F4;
    --black:#050D14;
    --base-size: 1rem;
    --scale: 1.25;
    --h6: var(--base-size);
    --h5: calc(var(--base-size) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --sans-serif: "Popins", sans-serif;
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: var(--teal);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: var(--base-size);
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 3rem 0 1.38rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    line-height: 1.3;
  }

  h1, .h1 {
    margin-top: 0;
    font-size: var(--h1);
  }

  h2, .h2 {
    font-size: var(--h2);
  }

  h3, .h3 {
    font-size: var(--h3);
  }

  h4, .h4 {
    font-size: var(--h4);
  }

  h5, .h5 {
    font-size: var(--h5);
  }

  h6, .h6 {
    font-size: var(--h6);
  }

  small, .text_small {
    font-size: calc(var(--base-size) / var(--scale));
  }

  img {
    width: 100%;
    max-width: 100%;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--lime);
  }

  a:hover {
    color: var(--cyan);
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

  cite {
    display: block;
    font-style: normal;
    margin: 0;
    margin-top: -3px;
    padding: 0;
  }

  main {
    margin-bottom: 4rem;
  }

  footer {
    margin-top: 5rem;
    text-transform: uppercase; 
  }

  .club {
    font-size: var(--h5);
  }
}

@layer header {
  .wrapper {
    max-width: 375px;
    margin: 0 auto;
  }

  header {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  header img {
    max-width: 150px;
  }
}

@layer tour {
  .date {
    color: var(--tan);
  }

  .club {
    color: var(--lime);
    font-size: var(--h5);
  }
}

@layer aside {
  .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    gap: 2rem;
  }

  .star {
    width: 18px;
  }

  .featured-img {
    display: none;
  }

  @media(min-width: 700px) {
    .reviews {
      border: 2px solid var(--cyan);
      grid-template-columns: repeat(6, 90px);
      width: 540px;
      justify-content: center;
    }

    .featured-img {
      display: inline-block;
      order: 2;
      grid-column: span 2;
    }

    .featured-img img {
      border: 2px solid var(--white);
    }

    .reviews figure:nth-of-type(1) {
      order: 1;
      grid-column: 1/4;
      grid-row: 1/2;
      justify-self: end;
      padding: 1rem 5rem 0 5rem;
    }

    .reviews figure:nth-of-type(2) {
      order: 1;
      grid-column: 4/7;
      grid-row: 1/2;
      justify-self: start;
      padding: 1rem 3.5rem 0 3.5rem;
    }

    .reviews figure:nth-of-type(3) {
      order: 3;
      grid-column: 1/4;
      grid-row: 3/4;
      justify-self: end;
      padding: 0 2.5rem 1rem 1rem;
    }

    .reviews figure:nth-of-type(4) {
      order: 3;
      grid-column: 4/7;
      grid-row: 3/4;
      justify-self: start;
      /* padding: 0 1rem; */
    }
  }

  @media (min-width:1000px) {
    .reviews {
      display: block;
      width: 200px;
    }

    .reviews figure:nth-child(odd) {
      padding: 0;
    }

    .featured-img {
      position: relative;
      right: 1.5rem;
    }
  }
}

@media (min-width: 800px) {
  .wrapper {
    max-width: 800px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main > h1 {
    grid-column: 1/4;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 2rem;
    max-width: 1200px;
  }

  main {
    display: block;
    grid-area: 1 / 2 / 5 / 3;
    padding-top: 11rem;
  }

  /* aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  } */
}